.quieto{
  transition:all 0.5s ease-in-out;
  background-color:transparent !important;
  height: 80px;
  font-size: .9em;
  position: fixed;
  .logo{
    transition:all 0.5s ease-in-out;
    color: white;
    font-size: 2.1em;  
    margin-left: 2em;}
  .nav-link{
    transition:all 0.5s ease-in-out;
    color: white;
    font-size: 1em;
    margin-right: 1em;
    &:hover{color: white;}
    
    }
  hr{ 
      color: white;
      transform: rotate(90deg);
    }
  .partebarra{justify-content: end;
    margin-right: 5em;
    }
}

.moviendo{  transition:all 0.5s ease-in-out;
            background-color: white;
            height: 55px;
            font-size: .9em;
            .logo{
              transition:all 0.5s ease-in-out;
              color: black;
              margin-left: 2em;
              font-size: 1.5em;  
              transform: translate(0px, 0px);
                         
              }
          .nav-link{
            transition:all 0.5s ease-in-out;
            color: black;
            font-size: 1em;
            margin-right: 1em;
                  &:hover{color: rgb(41, 41, 41);}
                  }
            
          }

@media(max-width:680px){

  .partebarra{display:none;}
}



