$fondo: rgb(0, 0, 0);

.numeros{
    color: white;
    float:none;
    margin: 30px auto 30px auto;
    width: 100%;
    padding: 100px 15px;
    background-color: $fondo;
    text-align: center;
    box-sizing: border-box;
    .contenedoraumenta{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

    }
}

@media (max-width:580){
    .aumenta{
        min-width: 100px;
    }
}
