.parrafo {
  color: #888;
  margin: 15px 20%;
}

.titulo {
  margin: 15px 0;
  color: #888;
}

@media (max-width: 600px) {
  .parrafo {
    margin: 10px 0px;
<<<<<<< HEAD
    text-align: center; } }
=======
    text-align: center;
  }
}

>>>>>>> 74dab83740b4f3b2978be4e74611ae36370ee86b
.quieto {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent !important;
  height: 80px;
  font-size: .9em;
  position: fixed;
}

.quieto .logo {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 2.1em;
  margin-left: 2em;
}

.quieto .nav-link {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 1em;
  margin-right: 1em;
}

.quieto .nav-link:hover {
  color: white;
}

.quieto hr {
  color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quieto .partebarra {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 5em;
}

.moviendo {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
  height: 55px;
  font-size: .9em;
}

.moviendo .logo {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: black;
  margin-left: 2em;
  font-size: 1.5em;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.moviendo .nav-link {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: black;
  font-size: 1em;
  margin-right: 1em;
}

.moviendo .nav-link:hover {
  color: #292929;
}

.moviendo .partebarra {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 5em;
}

@media (max-width: 680px) {
  .partebarra {
    display: none;
  }
}

.whoweare {
  float: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  background-color: #dbdada;
  text-align: center;
}

.panel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boton {
  margin: 0 15px;
  border-radius: 45px;
}

.btn-outline-primary:hover {
  color: green;
}

.carousel-item {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.carousel-item img {
  opacity: 0.6;
}

.gradiente1 {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 209, 231, 0.5)), to(rgba(243, 17, 224, 0.5)));
  background-image: linear-gradient(rgba(25, 209, 231, 0.5), rgba(243, 17, 224, 0.5));
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: non-repeat;
  background-size: cover;
}

.gradiente2 {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: non-repeat;
  background-size: cover;
}

.mostrador {
  width: 90%;
  margin: 0px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mostrador .tarjetero {
  margin: 0px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 999;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caption-style-4 {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.caption-style-4 li {
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-4 li:hover .caption {
  opacity: 1;
}

.caption-style-4 li:hover img {
  opacity: 1;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}

.caption-style-4 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

#taaag {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@-webkit-keyframes transformer {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes transformer {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.aparece {
  -webkit-animation: transformer 0.5s ease-in-out 0s 1;
          animation: transformer 0.5s ease-in-out 0s 1;
}

.ocultar {
  display: none;
}

.escondercontransicion {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

.caption-style-4 img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 350px;
  height: 265px;
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.caption-style-4 .blur {
  background-color: rgba(0, 0, 0, 0.65);
  height: 265px;
  width: 350px;
  z-index: 5;
  position: absolute;
}

.caption-style-4 .caption-text h1 {
  text-transform: uppercase;
  font-size: 23px;
}

.caption-style-4 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 350px;
  height: 265px;
  text-align: center;
  top: 100px;
}

@media (max-width: 992px) {
  .tarjetero {
    width: 80%;
  }
  .caption-style-4 img {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 200px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
  }
  .caption-style-4 .blur {
    background-color: rgba(0, 0, 0, 0.65);
    height: 150px;
    width: 200px;
    z-index: 5;
    position: absolute;
  }
  .caption-style-4 .caption-text h1 {
    text-transform: uppercase;
    font-size: 12px;
  }
  .caption-style-4 .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 200px;
    height: 150px;
    text-align: center;
    top: 50px;
  }
  .trabajosss {
    display: none;
  }
}

@media (max-width: 750px) {
  .mostrador {
    display: none;
  }
  .panel {
    display: none;
  }
}

.numeros {
  color: white;
  float: none;
  margin: 30px auto 30px auto;
  width: 100%;
  padding: 100px 15px;
  background-color: black;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.numeros .contenedoraumenta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 580) {
  .aumenta {
    min-width: 100px;
  }
}

.containerrr {
  position: relative;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
}

.div-imggg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.div-imggg .imggg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-imggg .texttt {
  font-family: 'Open Sans';
  position: relative;
  font-size: 15px;
  z-index: -1;
  display: block;
  bottom: 20px;
  width: 100%;
  text-align: center;
  -webkit-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-imggg:hover .imggg {
  -webkit-transform: 0px -30px 0.5;
  transform: 0px -30px 0.5;
  transform: translate(0px, -30px) scale(0.5);
  -webkit-transform: translate(0px, -30px) scale(0.5);
  -moz-transform: translate(0px, -30px) scale(0.5);
  -o-transform: translate(0px, -30px) scale(0.5);
  -ms-transform: translate(0px, -30px) scale(0.5);
  border-radius: 50%;
}

.div-imggg:hover .texttt {
  -webkit-transform: 0px 0px 2;
  transform: 0px 0px 2;
  transform: translate(0px, 0px) scale(2);
  -webkit-transform: translate(0px, 0px) scale(2);
  -moz-transform: translate(0px, 0px) scale(2);
  -o-transform: translate(0px, 0px) scale(2);
  -ms-transform: translate(0px, 0px) scale(2);
}
/*# sourceMappingURL=estilos.css.map */